@font-face {
  font-family: iranSans;
  src: url(../font/iransansMedium.woff2);
}

body {
  width: 100wh;
  height: 90vh;
  color: #000;
  background: linear-gradient(-45deg, #ee7752, rgb(42, 231, 222), rgb(117, 132, 214), #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  font-family: iranSans;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.centBox {
  position: absolute;
  background: #fbfbfb;
  width: 28%;
  border-radius: 4%;
  height: 40%;
  padding: 1%;
  margin: 13% 38%;
  text-align: center;

  /* height: 50%;

  margin: 9% 38%; */
 
}
.inputBar {
  margin: 22% 0;
}
.ErrAlert{
    display: none;
}
#iconBox {
    margin: 0;
}
#downloadBox{
    margin: 6% 0;
}

.file-upload {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1bc9f1;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #1bc9f1;
    position: relative;
    height: 151px;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #1bc9f1;
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .remove-image {
    width: 131px;
    margin: 0 15%;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 5px 4px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
  }
  
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .remove-image:active {
    border: 0;
    transition: all .2s ease;
  }
  .image-upload-wrap p{
    display: inline;
    padding: 0 11px;
    line-height: 37px;
  }